.profiles-intro-container {
  max-width: 1500px;
  margin-top: 3rem;
}

.profile-list-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .profile-container {
    width: 350px;
    margin-top: 2rem;

    .profile-avatar {
      width: 125px;
      height: 125px;
      margin: 0 auto;
    }

    /*     .profile-card-bottom {
      max-width: 325px;
      margin: 0 auto;
    } */

    .count-profile {
      font-size: 1.3rem;
    }

    .count-profile-text {
      font-size: 0.85rem;
    }
  }

  /*  .profile-list-banner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .background-image;
    background-size: cover;

    .user-avatar {
      align-self: center;
    }
  }

    .profile-avatar {
      width: 125px;
      height: 125px;
    }

  h2 {
    font-size: 25px;
    margin-bottom: 0;
  }

  .profile-card-bottom {
    padding-top: 15px;
  } */
}
