.profiles-intro-container {
  max-width: 1500px;
  margin-top: 3rem;
}

.profiles-intro-container {
  max-width: 1600px;
}

.profile-list-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .profile-container {
    width: 350px;
    margin-top: 2rem;

    .profile-avatar {
      width: 125px;
      height: 125px;
      margin: 0 auto;
    }

    .count-profile {
      font-size: 1.3rem;
    }

    .count-profile-text {
      font-size: 0.85rem;
    }
  }
}

//profile details

.follow-container {
  max-width: 250px;
  margin: 0 auto;
}
