.posts-container {
  max-width: 500px;
  padding: 1rem;
  margin: 1.5rem auto;
}

.post-cta {
  margin-top: 1rem;
}

.icon-comment,
.icon-smile {
  width: 30px;
}

.icon-smile {
  margin-left: 20px;
}

.post-count {
  font-size: 25px;
  padding-left: 5px;
}

.post-media {
  background-size: cover;
}
