.posts-container {
  background-color: $clr-dark;
  max-width: 500px;
  padding: 1rem;
  margin: 2rem auto;
  border: $border;
}

h2 {
  color: $clr-heading;
}

p {
  color: $clr-text;
}

.post-cta {
  margin-top: 1rem;
}

.icon-comment,
.icon-smile {
  width: 40px;
}

.icon-smile {
  margin-left: 20px;
}

.post-count {
  color: $link-active;
  font-size: 30px;
  padding-left: 5px;
}

.btn-container {
  height: 100%;
  margin-top: auto;
}

.post-media {
  background-size: cover;
}

/* .column-left.col-12 {
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: $bg-color;
} */

/* .post-list-container {
  margin-left: 200px;
  position: relative;
} */

/* .column-left {
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}
 */
