$bg-color: #191a1c;
$clr-dark: #232427;
$clr-heading: #d2dcde;
$clr-text: #a2a7ab;
$clr-links: #fff;
$clr-cta: #58cbf6;
$clr-cta-hover: #1ea6d9;
$clr-icon: #626b70;
$link-active: #88fbff;

$border: 2px solid #303437;
