.carousel-container {
  color: $clr-text;
}

.carousel-img-container {
  height: calc(100vh - 313px);
  @extend .background-image;
  background-size: contain;
  border-bottom: $border;
}

.column-carousel-info {
  border-left: $border;
  border-bottom: $border;
  padding: 0 5rem;
}

.column-carousel-prevBtn {
  border-left: $border;
  border-right: $border;
}

.column-carousel-prevBtn button,
.column-carousel-nextBtn button {
  border: none;
  width: 100px;
  background-color: transparent;
}

.column-carousel-img,
.column-carousel-title {
  padding: 0;
}

.column-carousel-title {
  padding: 5rem;
}

.column-carousel-info,
.column-carousel-title,
.column-carousel-prevBtn,
.column-carousel-nextBtn {
  @extend .center-align;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .carousel-img-container {
    height: calc(100vh - 394px);
  }

  .column-carousel-info {
    height: 200px;
    font-size: 18px;
    padding: 0 10rem;
    border-left: none;
  }

  .column-carousel-title {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .carousel-img-container {
    height: calc(100vh - 444px);
  }

  .column-carousel-title {
    border-bottom: $border;
  }

  .column-carousel-info {
    padding: 0 1rem;
  }
}
