.carousel-img-container {
  height: calc(100vh - 298px);
  @extend .background-image;
  background-size: contain;
}

.column-carousel-info {
  padding: 0 5rem;
}

.column-carousel-prevBtn button,
.column-carousel-nextBtn button {
  border: none;
  background-color: inherit;
}

.column-carousel-prevBtn .icon,
.column-carousel-nextBtn .icon {
  width: 100px;
}

.column-carousel-img,
.column-carousel-title {
  padding: 0;
}

.column-carousel-title {
  padding: 5rem;
}

.column-carousel-info,
.column-carousel-title,
.column-carousel-prevBtn,
.column-carousel-nextBtn {
  @extend .center-align;
  font-size: 2rem;
}

@media (max-width: 991px) {
  .carousel-img-container {
    height: calc(100vh - 394px);
  }

  .column-carousel-info {
    height: 200px;
    font-size: 18px;
    padding: 0 10rem;
  }

  .column-carousel-title {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .carousel-img-container {
    height: calc(100vh - 437px);
  }

  .column-carousel-info {
    padding: 0 1rem;
  }

  .column-carousel-title {
    height: 70px;
  }

  .column-carousel-prevBtn .icon,
  .column-carousel-nextBtn .icon {
    width: 75px;
  }
}
