.theme-container.light {
  background-color: $bg-color-light;

  header {
    background-color: $clr-light;
    border-bottom: $border-light;
  }

  .logo-container {
    border-right: $border-light;
  }

  .user-container,
  .visit-container {
    border-left: $border-light;
  }

  .theme-page-container {
    background-color: $bg-color-light;
    color: black;
  }

  .heading {
    color: $clr-heading-light;
  }

  p,
  h2 {
    color: $clr-text-light;
  }

  a {
    color: $clr-links-light;
  }

  .active {
    color: $clr-link-light-active;
  }

  .cta,
  .btn {
    background-color: $clr-cta-light;
    color: white;
  }

  .cta-secondary {
    border: 2px solid $clr-cta-light;
    background-color: unset;
    color: $clr-links-light;
  }

  .delete {
    border: 2px solid $clr-error-light;
    color: $clr-links-light;
  }

  .btn:hover,
  .cta:hover {
    background-color: $clr-cta-light-hover;
    color: white;
  }
  .delete:hover {
    background-color: $clr-delete-light-hover;
  }

  .icon,
  .icon-sm {
    color: $clr-icon-light;
  }

  .icon:hover,
  .icon-sm:hover,
  .Link:hover,
  .NavLink:hover,
  a:hover {
    color: $clr-cta-light-hover;
  }

  .post-count {
    color: $clr-link-light-active;
  }

  .form-error {
    color: $clr-error-light;
  }

  .success {
    color: $clr-success-light;
  }

  .content-container {
    background-color: $clr-light;
    border: $border-light;
    box-shadow: $box-shadow-light;
  }

  .comment-container {
    background-color: $clr-light-1;
  }

  .nav-tabs {
    .nav-link,
    .nav-link.active {
      background-color: $bg-color-light;
      color: $clr-text-light;
    }

    .nav-link.active {
      border: 1px solid $clr-cta-light;
    }

    .nav-link:hover {
      background-color: $clr-light-1;
      border: 1px solid $clr-cta-light;
      color: $clr-cta-light-hover;
    }
  }

  .comment-form,
  .react-form {
    background-color: $bg-color-light;
  }

  .react-select,
  .comment-textarea {
    background-color: $clr-light-1;
    color: $clr-text-light;
  }

  .intro-container {
    border-bottom: $border-light;
  }

  .dropdown-item:hover {
    background-color: $clr-light-1;
  }

  .dropdown-toggle:hover {
    background-color: $clr-cta-light;
    color: black;
  }

  .dropdown-link {
    color: $clr-text-light;
  }

  input,
  textarea {
    background-color: $clr-light-1;
    color: black;
  }

  .carousel-img-container {
    border-bottom: $border-light;
  }

  .column-carousel-info {
    border-left: $border-light;
    border-bottom: $border-light;
  }

  .column-carousel-prevBtn {
    border-left: $border-light;
    border-right: $border-light;
  }

  @media (max-width: 991px) {
    .column-carousel-info {
      border-left: none;
    }
  }

  @media (max-width: 767px) {
    .column-carousel-title {
      border-bottom: $border-light;
    }
    .column-carousel-prevBtn {
      border-left: none;
    }
  }

  .profile-email {
    border-bottom: 1px solid $border-light;
  }

  .count-follow-text,
  .profile-email {
    color: $clr-text-light;
  }
  .tab-content {
    background-color: $clr-light;
  }

  .follow-profile:hover {
    background-color: $clr-light-1;
  }

  .user-info-container {
    border-bottom: $border-light;
  }
}

.modal.light {
  .modal-content {
    background-color: $clr-light;
    border: $border-light;
    color: $clr-text-light;

    .modal-header {
      color: $clr-heading-light;
      border-bottom: $border-light;
    }
  }

  .cta {
    background-color: $clr-cta-light;
    color: black;
  }

  .cta:hover {
    background-color: $clr-cta-light-hover;
    color: black;
  }

  p {
    color: $clr-text-light;
  }

  .success {
    color: $clr-success-light;
    font-weight: bold;
  }

  .cta-secondary {
    border: 2px solid $clr-cta-light;
    background-color: unset;
    color: $clr-links-light;
  }

  input,
  textarea {
    background-color: $clr-light-1;
    border: none;
    color: black;
  }
}

.offcanvas.light {
  background-color: $bg-color-light;

  a {
    color: $clr-links-light;
  }

  a:hover {
    color: $clr-cta-light-hover;
  }

  .active {
    color: $clr-link-light-active;
  }

  .icon,
  .icon-sm,
  .btn-close {
    color: $clr-icon-light;
  }

  .offcanvas-header {
    background-color: $clr-light;
    border-bottom: $border-light;
    color: $clr-heading-light;
  }

  .user-container {
    border-top: $border-light;
  }
}
