.user-profile-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3rem;
}

.user-profile-banner {
  @extend .background-image;
  background-size: cover;
  height: 500px;
  margin-top: 3rem;
}

.user-info-container {
  padding: 10px;
  flex-wrap: wrap;
}

.dropdown-toggle,
.dropdown-menu.show {
  border: none;
  border-radius: 0;
}
