.user-profile-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3rem;
}

.user-profile-banner {
  @extend .background-image;
  background-size: cover;
  height: 500px;
  margin-top: 3rem;
}

.user-info-container {
  padding: 10px 0;
  flex-wrap: wrap;

  .user-avatar {
    align-self: flex-end;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}

.dropdown-toggle,
.dropdown-menu.show {
  border: none;
  border-radius: 0;
}
