*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

header {
  height: 104px;
  border-bottom: $border;
}

a {
  text-decoration: none;
  color: $clr-links;
  padding: 10px;
  font-size: 20px;
}

.heading {
  margin-bottom: 0;
  color: $clr-heading;
}

.btn {
  background-color: #003d3b;
  border-radius: 5px;
  color: white;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: $link-active;
  font-weight: bold;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.user-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.banner {
  width: 300px;
  object-fit: contain;
}

.row,
.col {
  padding: 0;
}

.form-error {
  color: $clr-error;
}

.cta {
  width: 100%;
  display: block;
  background-color: $clr-cta;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 20px;
  border: none;
}

.cta-secondary {
  @extend .cta;
  border: 2px solid $clr-cta;
  background-color: unset;
  color: white;
}

.delete {
  border: 2px solid $clr-error;
  color: white;
}

.icon {
  color: $clr-icon;
}

.cta:hover {
  background-color: $clr-cta-hover;
  color: white;
}

.icon:hover,
.Link:hover,
.NavLink:hover,
a:hover {
  color: $clr-cta-hover;
}

.required {
  color: #cf6679;
  margin-left: 5px;
}

.optional {
  color: $clr-text;
}

.delete:hover {
  background-color: #cf6679;
}
