*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.theme-container {
  min-height: 100vh;
  transition: all 0.3s;
}

.intro-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.postlist-container,
.profile-list-container,
.following-container,
.user-profile-container {
  padding-bottom: 3rem;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}

.heading {
  margin-bottom: 0;
}

.background-image {
  background-repeat: no-repeat;
  background-position: center;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  font-weight: bold;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.banner {
  width: 300px;
  object-fit: contain;
}

.cta {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 20px;
  border: none;
}

.cta-secondary {
  @extend .cta;
}
.required {
  margin-left: 5px;
}

.icon {
  width: 30px;
}

/* .row,
.col {
  padding: 0;
} */
