.desktop-nav {
  justify-content: space-between;
  height: 100%;

  .logo-container {
    @extend .center-align;
    flex-direction: column;
    width: 20%;
    padding: 0;

    .logo-img {
      width: 40px;
      height: 40px;
    }
  }

  .admin-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-container {
    width: 20%;
    padding: 10px;

    display: flex;
    justify-content: center;

    .avatar {
      margin: 0 auto;
    }
  }
}

.logout-btn,
.theme-btn {
  background-color: inherit;
  border: none;
  width: 50px;
  align-self: flex-end;
}

.user-link {
  padding-bottom: 0;
}

.visit-container {
  @extend .center-align;
  width: 20%;
}

.mobile-nav {
  height: 100%;
}

.mobile-nav-wrapper {
  height: 100%;
}

.offcanvas-container {
  margin-top: 2rem;
}

.username {
  font-size: 13px;
}

.nav-toggler {
  border: none;
  background-color: inherit;
}

.container-fluid {
  padding-left: 0;

  .logo-container {
    width: 20%;
    align-items: center;
  }
}

@media (max-width: 1050px) {
  .desktop-nav {
    .logo-container {
      width: 31%;

      .logo-img {
        width: 40px;
        height: 40px;
      }
    }

    .user-container {
      width: 31%;

      .user-link {
        padding: 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .container-fluid {
    .logo-container {
      width: 40%;
    }
  }
}

@media (max-width: 550px) {
  .container-fluid {
    .logo-container {
      width: 40%;
    }
  }
}
