.desktop-nav {
  justify-content: space-between;
  height: 100%;

  .logo-container {
    @extend .center-align;
    flex-direction: column;
    border-right: $border;
    width: 20%;
    padding: 0;

    .logo-img {
      width: 60px;
      height: 60px;
    }
  }

  .admin-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-container {
    border-left: $border;
    width: 20%;
    padding: 10px;

    display: flex;
    justify-content: center;

    .avatar {
      margin: 0 auto;
    }
  }

  .user-container:hover,
  .logo-container:hover,
  .admin-container:hover {
    background-color: $bg-color-active;
  }
}

.logout-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  color: white;
  align-self: flex-end;
}

.user-link {
  padding-bottom: 0;
}

.visit-container {
  @extend .center-align;
  width: 20%;
  height: 100%;
  border-left: $border;
}

.mobile-nav {
  background-color: $bg-color;
  height: 100%;
}

.mobile-nav-wrapper {
  height: 100%;
}

.offcanvas-container {
  margin-top: 2rem;
}

.offcanvas {
  background-color: $bg-color;
}

//remove this and change icon
.btn-close {
  background-color: white;
}

.username {
  font-size: 13px;
}

.navbar-toggler {
  border: none;
  width: 50px;
}
