header {
  height: 92px;
}

.desktop-nav {
  justify-content: space-between;
  height: 100%;

  .logo-container {
    @extend .center-align;
    flex-direction: column;
    width: 20%;
    padding: 0;

    .logo-img {
      width: 40px;
      height: 40px;
    }
  }

  .admin-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-container {
    width: 20%;
    padding: 10px;

    @extend .center-align;

    .avatar {
      margin: 0 auto;
    }
  }
}

.logout-btn,
.theme-btn {
  background-color: inherit;
  border: none;
  width: 50px;
}

.user-link {
  padding: 0 10px;
}

.visit-container {
  @extend .center-align;
  width: 20%;
}

.mobile-nav {
  height: 100%;
}

.mobile-nav-wrapper {
  height: 100%;
}

.offcanvas-container {
  margin-top: 2rem;

  .user-link {
    padding: 10px;
  }

  .avatar {
    align-self: center;
  }
}

.username {
  font-size: 13px;
}

.nav-toggler,
.offcanvas-close {
  border: none;
  background-color: inherit;
}

.container-fluid {
  padding-left: 0;

  .logo-container {
    width: 20%;
    align-items: center;
  }
}

@media (max-width: 1050px) {
  .desktop-nav,
  .mobile-nav {
    .logo-container,
    .user-container,
    .visit-container {
      width: 31%;
      font-size: 15px;

      .logo-img {
        width: 40px;
        height: 40px;
      }

      .user-link {
        padding: 0;
      }
    }
    .logo-container {
      height: 90px;
      justify-content: center;
    }
  }
}

@media (max-width: 550px) {
  .container-fluid {
    .logo-container {
      width: 40%;
    }
  }
}

@media (max-width: 550px) {
  .container-fluid {
    .logo-container {
      width: 40%;
    }
  }
}
