$bg-color: #191a1c;
$bg-color-active: #1b1c1f;
$clr-dark: #232427;
$clr-dark-1: #303437;
$clr-heading: #d2dcde;
$clr-text: #a2a7ab;
$clr-links: #fff;
$clr-cta: #58cbf6;
$clr-cta-hover: #1ea6d9;
$clr-icon: #626b70;
$clr-error: #fd9798;
$link-active: #88fbff;

$border: 2px solid #303437;
$box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
